header{
    background-color: #375771;
    color: white;
}
header h2{
    margin-bottom: 0px;
}
body{
    background-image: url(bg2.jpg);
	height: 100%;
	width: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
.home-btn{
    background-color: #375771;
    width: 5%;
    border-right-style: solid;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
    border-color: white;
}
.home-btn a{
    color: white;
}

.analyze{
    background-color: white;
    text-align: center;
    margin-top: 1%;
}
.result{
    background-color: white;
    text-align: center;
    margin-bottom: 1%;
}
.good-news{
    color: lime;
}
.bad-news{
    color: red;
}
.result .material-icons{
    font-size: 100px;
}
.analyze{
    color : cornflowerblue;
}